{# templates/profile/index.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/styles/profile.css') }}">
	{% endblock %}
{% endblock %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<section id="profile">
		<div class="img-profile-container">
		{% if app.user.getFile() %}
			
				<img class="img-profile" src="{{ asset('uploads/users/' ~ app.user.getFile().url) }}" alt="image profile">
			
		{% else %}
			<img class="img-profile" src="{{ asset('images/logo/icons8-neutral-face-94.png') }}" alt="image par défaut">
		{% endif %}
			</div>
		<div class="pseudo text-white fs-3">
			{% if app.user %}
				{{ app.user.pseudo }}
			{% endif %}
			
		
		
		<div class="d-flex align-items-center gap-3">
			<a class="text-white" href="{{ path('app_vehicule') }}">
				<img class="custom-img-car" src="{{ asset('images/logo/add-vehicule.png') }}">
			</a>
			<a class="text-white" href="{{ path('app_profile_edit') }}">
				<img class="modif-user" alt="logo-modif-user" src="{{ asset('images/logo/add-profile.png') }} ">
			</a>
		</div></div>
		

	</section>

	<h3 class="text-white container justify-content-center fs-2">
		<img class="custom-img-car" src="{{ asset('images/logo/logo-car.png') }}">Mes véhicules
	</h3>

	<section id="card">
		{% if vehicules is empty %}
			<div class="ajouter-vehicule d-flex m-0">
			<div class="no-vehicule flex-column justify-content-center align-items-center">
				<p class="text-white d-flex align-items-center justify-content-center">Aucun véhicule trouvé. Ajoutez des véhicules.</p>
				<a href="{{ path('app_vehicule') }}">
					<img class="custom-img-no-car" src="{{ asset('images/logo/add-vehicule.png') }}">
				</a>
				</div>
			</div>
		{% else %}
			{% for vehicule in vehicules %}
				<div class="card">
					<img class="card-img-top" src="{{ vehicule.imageUrl and vehicule.imageUrl.url ? asset('uploads/vehicules/' ~ vehicule.imageUrl.url) : asset('path/to/default/image.jpg') }}" alt="Image de véhicule">
					<div class="card-body">
						<div>
							<p class="card-title fs-5 mb-5">
								<img class="text-white custom-img" src="{{ asset('images/logo/logo-vehicule.png') }}">
								{{ vehicule.brand }}-{{ vehicule.model }}
							</p>
							<p class="card-title mb-3">
								<img class="custom-img" src="{{ asset('images/logo/logo-motorisation.png') }}">
								{{ vehicule.motorization }}
							</p>
							<p class="card-title">
								<img class="custom-img" src="{{ asset('images/logo/logo-maintenance.png') }}">Maintenance: ({{ vehicule.getMaintenanceCount() }})
							</p>
						</div>
					</div>
					<div class="button-card d-flex align-items-center">
						<button class="custom-button mb-3 me-3" onclick="window.location.href = '{{ path('app_my_garage', {id: vehicule.id}) }}'">Détails</button>
						<form action="{{ path('delete_vehicule', {'id': vehicule.id}) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button class="custom-button-supprimer mb-3 d-flex justify-content-center align-items-center p-0" type="submit" style="background: none; border: none;">
								<img src="{{ asset('images/logo/delete_white.png') }}" alt="Supprimer" style="width: 20px; height: 20px;">
							</button>
						</form>
					</div>


				</div>
			{% endfor %}
		{% endif %}
	</section>

	<section id="forum">
    <div class="container">
        <div class="d-flex align-items-center">
            <h2 class="forum-titre text-white mb-5">Derniers Forums Actifs :</h2>
            {% if activeForums is empty %}
                <a href="{{ path('app_forum_new') }}" class="btn-create mb-5 ml-5">Créer un forum</a>
            {% endif %}
        </div>
    </div>
    
    {% if activeForums is not empty %}
        <div class="row">
            {% for forum in activeForums|slice(0, 3) %}
                <div class="forum-card col-4 mx-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">{{ forum.sujet }}</h5>
                        <a href="{{ path('app_forum_show', {'id': forum.id}) }}" class="btn-lire-plus">Lire plus...</a>
                    </div>
                    <p class="card-text">{{ forum.user.pseudo }}</p>
                    <p class="card-text">{{ forum.createdAt ? forum.createdAt|date('d-m-y') : '' }}</p>
                    <p class="card-text">{{ forum.message }}...</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert" role="alert">
            <p>Aucun forum actif trouvé. Commencez par créer le vôtre !</p>
        </div>
    {% endif %}
</section>
{% endblock %}


