{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
    {% endblock %}
{% endblock %}

{% block title %}Mon Atelier Garage{% endblock %}

{% block body %}
<section id="accueil-index">
    <div class="container-fluid first-section">
        <div class="moto row align-items-center justify-content-center">
    
            <div class="col-12 text-center presentation-card p-4">
                <h1 class="text-white custom-h2">Répertoriez vos <span class="color-span">entretiens</span> facilement!</h1>
                <p class="text-white custom-p pt-3">Créez votre propre garage et enregistrez vos véhicules et entretiens effectués !</p>
                {% if app.user %} 
                <a href="{{path('app_profile')}}" class="btn-entretien btn btn-primary mt-4">Entretenir</a>
                {% else %}
                <a href="{{path('app_login')}}" class="btn btn-primary mt-4">Entretenir</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>

    <div class="voiture row align-items-center p-4 justify-content-around">
        <div class="col-12 text-center mb-4">
              <h2 class="text-light custom-h2">Besoin d’aide en mécanique?</h2>
              <p class="text-light custom-p pt-3">Rejoignez la communauté à travers des forums !</p>
          </div>  

          <div class="col-md-3 border border-2 rounded-3 text-white text-center p-4">
              <h3>Créez votre forum</h3>
              <img src="{{ asset('images/logo/icons8-outil-50.png') }}" alt="outils" class="logo1 width="40px" height="40px"">
              <p class="mt-2">Partagez vos problèmes et solutions en mécanique avec la communauté </p>
          </div>

          <div class="col-md-3 border border-2 rounded-3 text-white text-center p-4">
              <h3>Échangez sur des sujets</h3>
              <img src="{{ asset('images/logo/icons8-tesla-model-s-50.png') }}" alt="voiture" class="logo1 width="40px" height="40px" class="mt-2"">
              <p class="mt-2"> Astuces et méthodes pour entretenir et réparer vos véhicules.</p>
          </div>

          <div class="col-md-3 border border-2 rounded-3 text-white text-center p-4">
              <h3>Partagez votre passion</h3>
              <img src="{{ asset('images/logo/icons8-performance-50.png') }}" alt="voiture" class="logo1 width="40px" height="40px"">
              <p class="mt-2">Discutez de tout ce qui concerne le monde de la mécanique. </p>
          </div>

          <div class="col-12 text-center mt-4">
              {% if app.user %} 
                <a href="{{path('app_forum')}}" class="btn btn-light mt-4 text-black">Go forum</a>
                {% else %}
                <a href="{{path('app_login')}}" class="btn btn-light mt-4 text-black">Go forum</a>
                {% endif %}
          </div>
      
      </div>
    </section>
{% endblock %}
