{% extends 'base.html.twig' %}

{% block head %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/styles/vehicule-new.css') }}">
	{% endblock %}
{% endblock %}

{% block title %}Ajout véhicule
{% endblock %}

{% block body %}
	<div class="logo-container">
		<h2>Ajouter un véhicule
		<img src="{{ asset('images/mon-logo/logo.png') }}" class="img-fluid logo" alt="img voiture"></h2>
	</div>
	<div class="container">
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.brand, 'Marque :') }}
			{{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.model, 'Modèle :') }}
			{{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.motorization, 'Motorisation :') }}
			{{ form_widget(form.motorization, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group custom-file-input">
			<label class="file-label" for="{{ form.photo.vars.id }}">
				<img src="{{ asset('images/logo/add-photo.png') }}" alt="Ajouter une photo" class="white-logo">
				<p>Ajouter une photo</p>
			</label>
			{{ form_widget(form.photo, {'attr': {'class': 'file-input'}}) }}
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Enregistrer</button>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
