{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/forum-index.css') }}">
    {% endblock %}
{% endblock %}

{% block title %}Forum Index{% endblock %}

{% block body %}
<div class="container">
    <h1>Forum Index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>CreatedAt</th>
                <th>Sujet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for forum in forums %}
            <tr>
                <td>{{ forum.createdAt ? forum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ forum.sujet }}</td>
                <td>
                    <a href="{{ path('app_forum_show', {'id': forum.id}) }}" class="btn-link">show</a>
                    <a href="{{ path('app_forum_edit', {'id': forum.id}) }}" class="btn-link">edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_forum_new') }}" class="btn-link">Create new</a>
</div>
{% endblock %}
