{% extends 'base.html.twig' %}

{% block head %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/styles/forum-index.css') }}">
	{% endblock %}
{% endblock %}

{% block title %}Forum Index
{% endblock %}

{% block body %}
	<div class="container">
	<div class="d-flex justify-content-center mb-5 mt-5">
		<h3 class="fs-1">Forum Index</h3>
		<img src="{{ asset('images/mon-logo/logo.png') }}" class="img-fluid logo" alt="img voiture">
		</div>
		<div class="row d-flex justify-content-center ">
			{% for forum in forums %}

				<div class="card col-4 mx-3" style="width: 18rem;">
					{% for file in forum.file %}

						<img class="card-img" src="{{ asset('uploads/forums/' ~ file.url) }}" class="card-img-top" alt="...">
					{% endfor %}
					<div class="card-body">
						{% if forum.forumCategory %}
							<div class="d-flex">
								<h5 class="card-title fs-5 mb-5">{{ forum.sujet }}</h5>
								<p class="category">{{ forum.forumCategory.category }}</p>
							</div>
						{% else %}
							<p class="card-text">Aucune catégorie</p>
						{% endif %}

						<p class="card-text">{{ forum.user.pseudo }}</p>
						<p class="card-text">{{ forum.createdAt ? forum.createdAt|date('Y-m-d H:i:s') : '' }}</p>
						<div class="d-flex">
							{% if forum.user.id == app.user.id %}
								<form class="d-flex justify-content-center align-items-center" action="{{ path('app_forum_delete', {'id': forum.id}) }}" method="post">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum.id) }}">
									<button type="submit" name="submit" class="btn">
										<img src="{{ asset('images/logo/delete_white.png') }}" alt="Supprimer" style="width: 20px; height: 20px;">
									</button>
								</form>
							{% endif %}
							<a href="{{path('app_forum_show', {'id': forum.id})}}" class="btn-next">Lire plus...</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
<div>
		<a href="{{ path('app_forum_new') }}" class="btn btn-light text-black">Créer un nouveau forum</a>
</div>
	</div>
{% endblock %}
