{# templates/forum/show.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/styles/forum-show.css') }}">
	{% endblock %}
{% endblock %}

{% block body %}
	<section id="profil" class="container d-flex flex-column p-0">
		<div class="profile-header d-flex align-items-center justify-content-start mb-4">
			<div class="img-profile-container">
				{% if app.user.getFile() %}
					<img class="img-profile" src="{{ asset('uploads/users/' ~ app.user.getFile().url) }}" alt="Profile photo of {{ app.user.pseudo }}">
				{% else %}
					<img class="img-profile" src="{{ asset('path/to/default/profile.jpg') }}" alt="Default profile photo">
				{% endif %}
			</div>
			<div class="user-info ml-3">
				<h4 class="pb-2">{{ app.user.pseudo }},
					{{ app.user.country }}</h4>
				{% if forum.forumCategory %}
					<div class="d-flex">
						<p>Catégorie:</p>
						<p class="category">{{ forum.forumCategory.category }}</p>
					{% else %}
						<p class="card-text">Aucune catégorie</p>
					{% endif %}
				</div>
				<p>{{ forum.createdAt ? forum.createdAt|date('d-m-y') : '' }}</p>
			</div>
		</div>

		<h3>{{ forum.sujet }}
			:
			{{ forum.message }}</h3>


		{% if forum.file %}
			{% for oneFile in forum.file %}
				<img class="photo-forum-accueil" src="{{ asset('uploads/forums/' ~ oneFile.url) }}" alt="photo"/>
			{% endfor %}
		{% endif %}
	</section>
	<section id="forum" class="container d-flex flex-column justify-content-center p-0">
		<h2>Commentaires:</h2>
		<div class="forum">

			{% if forum.comments|default %}
				{% for comment in forum.comments %}
					<div class="comment">
						<div class="comment-header d-flex align-items-center">
							{% if comment.user %}
								{% if comment.user.getFile() %}
									<img class="photo-user-comment" src="{{ asset('uploads/users/' ~ comment.user.getFile().url) }}" alt="photo" width="50" height="50"/>
								{% else %}
									<img class="photo-user-comment" src="{{ asset('images/logo/default-user.png') }}" alt="default user photo" width="50" height="50"/>
								{% endif %}
								<p class="pseudo">{{ comment.user.pseudo }}</p>
								<p class="mb-0 mt-1">{{ comment.user.createdAt ? comment.user.createdAt|date('d-m-Y H:i:s') : '' }}</p>
							{% else %}
								<strong>Utilisateur inconnu</strong>
							{% endif %}
						</div>
						<p>{{ comment.message }}</p>

						{% if comment.file %}
							<img class="photo-forum" src="{{ asset('uploads/forums/' ~ comment.file.url) }}" alt="photo"/>
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<p>Aucun commentaire pour le moment.</p>
			{% endif %}
		</div>


		<h3>Ajouter un commentaire</h3>
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.message, 'Votre commentaire :') }}
			{{ form_widget(form.message, {'attr': {'class': 'form-control', 'required': true}}) }}
		</div>
		<div class="d-flex justify-content-center align-items-center">
			<div class="add-photo p-1">
				<label for="{{ form.file.vars.id }}" style="cursor: pointer;">
					<img src="{{ asset('images/logo/add-photo.png') }}" alt="Ajouter une photo" style="width: 50px; height: 50px;">
				</label>
				{{ form_widget(form.file, {'attr': {'class': 'form-control', 'style': 'display:none;'}}) }}
			</div>

			<div class="p-1">
				<button type="submit" class="btn-poster fs-5">Poster</button>
			</div>
			{{ form_end(form) }}
		</div>

		<a href="{{ path('app_forum') }}">Retour aux forums</a>
	</section>
{% endblock %}
